<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Coolpad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="../../static/assets/bootstrap/css/bootstrap.min.css?version=2" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js'></script>
    <script data-require="moment.js@2.10.2" data-semver="2.10.2"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.js"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../../static/coolpad_favicon.ico?version=2" type="image/x-icon">
    <script src="../../static/common.js?version=2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">-->
    <link href="../../static/assets/css/paginate.css?version=2" rel="stylesheet" type="text/css" />

    <!--    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>-->
    <script src="../../static/dataTable.js"></script>

    <link href="../../static/assets/css/style_light.css?version=2" rel="stylesheet" type="text/css" id="theme" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    <script type="text/javascript" src="https://jonthornton.github.io/jquery-timepicker/lib/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jonthornton.github.io/jquery-timepicker/lib/bootstrap-datepicker.css"> -->


    <style>
        .loader {
            border: 6px solid #888EA8;
            /* Light grey */
            border-top: 6px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body class="body_dark">
    <div class="specific">

        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm">
                <ul class="navbar-item theme-brand flex-row  text-center">
                    <!--  <li class="nav-item theme-logo">
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li>-->
                    <li class="nav-item theme-text">
                        <a class="nav-link top-logo" style="background: transparent;">
                            <img id="img" src="../../static/assets/img/coolpad-logo.png?version=2" alt="main-logo"></a>
                    </li>
                </ul>

                <ul class="navbar-item flex-row ml-md-auto">
                    <li class="main-logo">
                        <img id="img1" src="../../static/assets/img/takvaviya-main-logo.png?version=2" alt="main-logo">
                    </li>
                    <li class="user-logout" onclick="logout()">
                        <span class="logout-icon"><i class="fas fa-sign-out-alt" title="sign-out"
                                aria-hidden="true"></i></span>
                    </li>
                </ul>
            </header>
        </div>

        <div class="sub-header-container">
            <header class="header navbar navbar-expand-sm">
                <!-- <a href="#" class="sidebarCollapse" data-placement="bottom">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a> -->

                <ul class="navbar-nav flex-row">
                    <li>
                        <div class="page-header">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page"><span>Dashboard </span></li>

                                </ol>
                            </nav>
                        </div>
                    </li>
                </ul>

            </header>
        </div>

        <div class="main-container" id="container">

            <div class="overlay"></div>
            <div class="sidebar-wrapper sidebar-theme">
                <nav id="sidebar">
                    <div class="shadow-bottom"></div>
                    <ul class="list-unstyled menu-categories ps" id="accordionExample">
                        <!--<li class="menu">
                            <div class="dropdownss">
                                <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i>
                                    <span class="dropbtnss">Report</span>
                                    <div class="dropdown-contentss">
                                        <a href="#"><span class="report-icon"><i class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i></span>PDF</a>
                                        <a href="#"><span class="report-icon"><i class="fa fa-file-excel-o"
                                                    aria-hidden="true"></i></span>XSL</a>
                                        <a href="#"><span class="report-icon"><i
                                                    class="fas fa-file-csv"></i></span>CSV</a>
                                    </div>
                            </div>
                        </li> -->
                        <li class="menu">
                            <a href="../dashboard" class="actives" class="menuu"><span class="side-menu-icon"><i
                                        class="fa fa-line-chart" aria-hidden="true"></i>
                                </span>Dashboard</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="../history_dashboard"><span class="side-menu-icon"><i
                                        class="fa fa-dedent" aria-hidden="true"></i>
                                </span>User Dashboard</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="../contact"><span class="side-menu-icon"><i
                                        class="fa fa-address-book" aria-hidden="true"></i>
                                </span>Contact Tracing</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="#" onclick="share()"><span class="side-menu-icon"><i
                                        class="fa fa-share-alt" aria-hidden="true"></i>
                                </span>Share</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="#" onclick="email_share()"><span class="side-menu-icon"><i
                                        class="fa fa-envelope" aria-hidden="true"></i>
                                </span>Email</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="../adduser"><span class="side-menu-icon"><i class="fa fa-user"
                                        aria-hidden="true"></i>
                                </span>User Profile</a>
                        </li>
                        <li class="menu">
                            <a class="menuu" href="../stickynotes"><span class="side-menu-icon"><i
                                        class="far fa-file-alt" aria-hidden="true"></i>
                                </span>Notes</a>
                        </li>
                        <!-- <li class="menu">
                            <a href="#"><span class="side-menu-icon"><i class="fa fa-camera"
                                        aria-hidden="true"></i></span>
                                <button type="button" class="btn btn-default">Screen Grab</button>
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>

            <div id="content" class="main-content">

                <div class="layout-px-spacing">
                    <div class="tab">
                        <button class="tablinks active" onclick="opentab(event, 'daily')"><b>Daily Tracker</b></button>
                        <button class="tablinks " onclick="opentab(event, 'weekly')"><b>Weekly Tracker</b></button>
                        <label class="switch1">
                            <input type="checkbox" id="myCheckbox" onchange="toggleCheck()">
                            <span class="slider1 round1"></span>
                        </label>

                    </div>

                    <!--Daily-->
                    <!--                    <div id="daily" class="tabcontent" style="display: block;">-->
                    <!--                        <div style="display: flex; flex-direction: row;">-->
                    <!--                            <div style="flex:6">-->
                    <!--                                <div class="item-des" style="font-size: 15px; margin-top: 20px; margin-bottom: 20px;">-->
                    <!--                                    Daily tracker denotes todays contact events starting from 00:00hrs-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group" style="margin-top: -19px; margin-right: 41px;">-->
                    <!--                                <label>Select Date</label>-->
                    <!--                                <input type="date" id="txtDate" name="datee" class="form-control" />-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group" style="margin-top: -19px; margin-right: 41px;">-->
                    <!--                                <div  class="Dashtimepicker" onclick="openDashTimer()">Select Time</div>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group" style="margin-top: -19px; margin-right: 41px;">-->
                    <!--                                <div class="Dashtimepicker" onclick="reset_Dashtime()">Reset Time</div>-->
                    <!--                            </div>-->

                    <!--                            <div class="timePicker_duration_Dash" id="timePicker_dash">-->
                    <!--                            <div id="from"><p>From</p><p><input type="time" id="from_time_dash"></p></div><div id="to"><p>To</p><p><input type="time" id="to_time_dash" ></p></div>-->
                    <!--                            <div id="submit_DashTime" onclick="submit_Dashtime()">Submit</div>-->
                    <!--                          </div>-->

                    <div id="daily" class="tabcontent" style="display: block;">
                        <div style="display: flex; flex-direction: row;">
                            <!--                            <div style="flex:6">-->
                            <!--                                <div class="item-des" style="font-size: 15px; margin-top: 20px; margin-bottom: 20px;">-->
                            <!--                                    Daily tracker denotes todays contact events starting from 00:00hrs-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div style="flex:6">
                                <div class="item-des"
                                    style="font-size: 15px; margin-top: 20px; margin-bottom: 20px; display: flex; flex-direction: row ;">
                                    Daily tracker denotes todays contact events starting from 00:00hrs
                                    <div style="padding-left: 2rem;display: flex; flex-direction: row;"
                                        id="daily_tracker_loader">
                                        <div class="loader"></div> <b
                                            style="padding-left: 2rem;font-size: larger;">Loading Data</b>
                                    </div>
                                </div>
                                <div id="selected_time" style="font-size: 28px;"></div>
                            </div>
                            <div class="form-group" style="margin-top: -17px; margin-right: 10px;">
                                <label>Select Date</label>
                                <input type="date" id="txtDate" name="datee" class="form-control" />
                            </div>

                            <div class="form-group" style="margin-top: -19px; margin-right: 11px;">

                                <label style="margin-top: 1px;position: absolute;">Select Time</label>


                                <button class="Dashtimepicker ripple "type="button" style="width: 166px;text-align: left;"
                                    id="name_change" onclick="openDashTimer()">00:00 &nbsp;To&nbsp; 00:00</button>

                            </div>

                            <div class="form-group" style="margin-top: -19px; margin-right: -10px;">
                                <button class="Dashtimepicker ripple" onclick="reset_Dashtime()" data-toggle="tooltip" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i></button></div>

                            <div class="timePicker_duration_Dash"  id="timePicker_dash">

                                <div  class="timerange">

                                </div>

                                <div class="float-right mt-2">
                                    <button id="cancel_DashTime" class="custom_modal_btn outline mr-2" onclick="cancel_Dashtime()" data-toggle="tooltip" title="cancel"><i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                    <button id="submit_DashTime" class="custom_modal_btn fill " onclick="setHistoryTime()" data-toggle="tooltip" title="submit"><i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>


                            <div style="margin-top: 10px;">
                                <div class="dropdownss" onclick="rp_one_daily();">
                                    <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
                                    <span class="dropbtnss">Report</span>
                                    <!-- <div class="dropdown-contentss">
                                  <div style="padding:1rem; cursor: pointer;" onclick="dwnldusrpdf();"><span
                                      class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF</div>
                                  <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrxlsx();"><span
                                      class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>XLSX</div>
                                  <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrcsv();"><span
                                      class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>CSV</div>
          
                                </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="daily-tab">




                                <div class="row layout-top-spacing">
                                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <div class="widget widget-chart-one-contact">
                                            <span class="fa fa-users user-his-cnt fa-3x "
                                                style="font-size:80px;padding-right:20px;margin-top:60px;"
                                                aria-hidden="true"></span>
                                            <p class="para"
                                                style="border-bottom: 1px solid #ccc;width: 100%;display: block;">Total
                                                Number of Contacts </p>
                                            <div class="align_total_contacts" id="totalnocontact"></div>
                                        </div>
                                        <div class="widget widget-chart-one-history mt-4">
                                            <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Top
                                                Contact History (Top 5)</p>
                                            <div id="chart9"></div>
                                        </div>
                                    </div>

                                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <div class="widget widget-chart-one">
                                            <div style="display:flex;flex-direction: row;color: #888ea8;">
                                                <p class="para"
                                                    style="flex:5;border-bottom: 1px solid #ccc;width: 100%;">Hourly
                                                    Tracker</p>
                                                <div>
                                                    <label class="switch">
                                                        <input type="checkbox" id="togBtn">
                                                        <div class="slider round">
                                                            <span class="on">24</span>
                                                            <span class="off">12 </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>


                                            <div id="chart12"></div>

                                            <div id="chart10" style="visibility: hidden;"></div>
                                        </div>
                                    </div>

                                    <!-- <p>C L O C K</p> -->
                                    <!--
                                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <div class="widget widget-chart-one">
                                            <p> Clock</p>

                                            <div class="clk">

                                                <ul class="circle">
                                                    <li>
                                                        <div class="text" id="clk0" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk1" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk2" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk3" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk4" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk5" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk6" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk7" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk8" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk9" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk10" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text" id="clk11" style="color: white;"></div>
                                                    </li>
                                                </ul>

                                                <div class="dot1">
                                                    <table id='cont'>
                                                        <tr>
                                                            <td>
                                                                <svg id='clock' viewBox='0 0 100 100' width='250'
                                                                    height='250'>
                                                                    <circle id='surface' cx='50' cy='50' r='45' />
                                                                    <g id='pointers'>
                                                                        <line id='h_pointer' x1='50' y1='50' x2='50'
                                                                            y2='27' />
                                                                        <line id='m_pointer' x1='50' y1='50' x2='50'
                                                                            y2='17' />
                                                                        <line id='s_pointer' x1='50' y1='50' x2='50'
                                                                            y2='13' />
                                                                    </g>
                                                                    <g id='numbers'>
                                                                        <text x='43' y='18'>12</text>
                                                                        <text x='85' y='54'>3</text>
                                                                        <text x='47' y='91'>6</text>
                                                                        <text x='9' y='54'>9</text>
                                                                    </g>
                                                                </svg>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clk2">
                                                <ul class="circle1">
                                                    <li>
                                                        <div class="text1" id="clk12" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk13" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk14" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk15" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk16" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk17" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk18" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk19" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk20" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk21" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk22" style="color: white;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="text1" id="clk23" style="color: white;"></div>
                                                    </li>
                                                </ul>
                                                &lt;!&ndash; <div class="dot"></div> &ndash;&gt;
                                            </div>
                                        </div>
                                    </div>
                                        -->
                                </div>

                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <!--<div class="widget widget-chart-two">-->
                                        <div class="widget widget-chart-two"
                                            style="max-height: 500px; overflow-y: auto;">
                                            <div style="display:flex;flex-direction: row;color: #888EA8;">
                                                <p class="para"
                                                    style="flex:5;border-bottom: 1px solid #ccc;width: 100%;">Contact
                                                    Frequency</p>
                                                <label class="switch">
                                                    <input type="checkbox" id="togBtn1">
                                                    <div class="slider round">
                                                        <span class="on"></span>
                                                        <span class="off"></span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div id="contact_frequency1">
                                                <select name="Teams" id="team_select"
                                                    onchange="getSelectValue()"></select>
                                                <table style="  width:100%; color: #888EA8;" id="contact_frequency"
                                                    class=" ">
                                                </table>
                                            </div>
                                            <div id="chartt" style="display: none;">
                                                <select name="Teams" id="teamDropDownButton"
                                                    onchange="switchHeatMap(this.value)"></select>
                                                <div id="chart30"></div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <!--<div class="widget widget-chart-one">-->
                                        <div class="widget widget-chart-one"
                                            style="max-height: 500px; overflow-y: auto;">
                                            <!-- <p>No of user on</p> -->
                                            <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">User
                                                Status</p>
                                            <table id="user_status_table" class="" data-page-length='8'>
                                                <thead align="center">
                                                    <tr style="background-color:none ;">
                                                        <th>U-ID</th>
                                                        <th>Username</th>
                                                        <th>Status</th>
                                                        <th>Battery %</th>
                                                        <th>Time Stamp</th>

                                                    </tr>
                                                </thead>
                                                <tfoot></tfoot>

                                            </table>
                                            <!-- <div class="table_container_user_status">
                                                <div class="row_user_status">
                                                    <div style="flex:1;color: #718093;font-size: 14px;"><b>S.No</b>
                                                    </div>
                                                    <div style="flex:1;color: #718093;font-size: 14px;"><b>User</b>
                                                    </div>
                                                    <div style="flex:3;color: #718093;font-size: 14px;"><b>Device Id</b>
                                                    </div>
                                                    <div style="flex:1;color: #718093;font-size: 14px;"><b>Status</b>
                                                    </div>
                                                </div>
                                                <div class="table_body" id="user_status">
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing;">
                                        <div class="widget widget-chart-one">
                                            <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Users In
                                                Contact <span class="userdata-info"
                                                    style="font-size: 13px; position: relative; bottom: 1px;">&nbsp;
                                                    &nbsp;( Last 2 hrs data )</span> </p>
                                            <table id="usertable" class=" " data-page-length='8'>
                                                <thead align="center" style="border-bottom:1px solid white;">
                                                    <tr style="background: none;">
                                                        <!-- <th>S.No</th> -->
                                                        <th>Local</th>
                                                        <th>Remote</th>
                                                        <th>Duration</th>
                                                        <th>Average Distance</th>
                                                    </tr>
                                                </thead>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <div class="widget widget-chart-one">
                                            <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Contact
                                                History</p>
                                            <div>
                                                <table id="contact_his" class=" " data-page-length='8'>
                                                    <thead align="center">
                                                        <tr style="background: none;">
                                                            <!-- <th>S.No</th> -->
                                                            <th>User-Pair</th>
                                                            <th>Number of Contacts</th>
                                                            <th>Max Duration</th>
                                                            <th>Average Distance</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                            <!-- <div class="contact_history_container">
                                                <div class="contact_history_header">
                                                    <div style="flex:1;color: #718093;"><b>S.No</b></div>
                                                    <div style="flex:1;margin-right:145px;color: #718093;">
                                                        <b>User-Pair</b></div>
                                                    <div style="flex:1;color: #718093;"><b>Number of Contacts</b></div>
                                                </div>
                                                <div class="table_body" id="contact_history">
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Weekly -->


                    <div id="weekly" class="tabcontent" style="display: none;">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="daily-tab">

                                <div style="display: flex; flex-direction: row;">
                                    <div style="flex:6">
                                        <div class="item-des"
                                            style="font-size: 15px; margin-top: 20px; margin-bottom: 20px;">
                                            This weekly tracker denotes events starting from Sunday of this week </div>
                                        <div style="padding-left: 2rem;display: flex; flex-direction: row;"
                                            id="weekly_tracker_loader">
                                            <div class="loader"></div> <b
                                                style="padding-left: 2rem;font-size: larger;">Loading Data</b>
                                        </div>
                                    </div>


                                    <div style="margin-top: 10px;">
                                        <div class="dropdownss" onclick="rp_weekly();">
                                            <span class="side-menu-icon"><i class="fa fa-file"
                                                    aria-hidden="true"></i></span>
                                            <span class="dropbtnss">Report</span>
                                            <!-- <div class="dropdown-contentss">
                                          <div style="padding:1rem; cursor: pointer;" onclick="dwnldusrpdf();"><span
                                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF</div>
                                          <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrxlsx();"><span
                                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>XLSX</div>
                                          <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrcsv();"><span
                                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>CSV</div>

                                        </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing mt-5 "
                                    style="padding-left:0px">
                                    <div class="widget widget-chart-one-contact">
                                        <span class="fa fa-users user-his-cnt fa-3x "
                                            style="font-size:80px;padding-right:20px;margin-top:60px;"
                                            aria-hidden="true"></span>
                                        <p class="para"
                                            style="border-bottom: 1px solid #ccc;width: 100%;display: block;">Total
                                            Number of Contacts </p>
                                        <div class="align_total_contacts" id="totalnocontact_weekly"></div>
                                    </div>
                                </div>
                                <div class="row layout-top-spacing">
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
                                        style="margin-bottom: 10px;">
                                        <div class="widget widget-chart-one">
                                            <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Weekly
                                                Team Tracker</p>
                                            <div id="chart7"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                        <div class="widget widget-chart-two">
                                            <div style="display:flex;flex-direction: row;color: #888EA8;">
                                                <p style="flex:5;border-bottom: 1px solid #ccc;width: 100%;"
                                                    class="para">Contact Frequency</p>
                                                <label class="switch">
                                                    <input type="checkbox" id="togBtn2">
                                                    <div class="slider round">
                                                        <span class="on"></span>
                                                        <span class="off"></span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div id="contact_frequency_weekly1">
                                                <select name="Teams" id="team_select_weekly"
                                                    onchange="getSelectValueweekly()"></select>
                                                <table style="  width:100%; color: #888EA8;"
                                                    id="contact_frequency_weekly"></table>
                                            </div>

                                            <div id="chartt1" style="display: none;">
                                                <select name="Teams" class="teamDropDownButton"
                                                    id="teamDropDownButtonWeek"
                                                    onchange="switchHeatMapWeekly(this.value)"></select>
                                                <div id="heatMapChartWeekly"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="widget widget-chart-twoo">
                                            <p class="para">Contact Frequency</p>
                                            <select name="Teams" id="team_select_weekly"
                                                onchange="getSelectValueweekly()"></select>
                                            <table style="width:100%;" id="contact_frequency_weekly"></table>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                    <div class="widget widget-chart-two">
                                        <p class="para">Contact Frequency</p>
                                        <select name="Teams" class="teamDropDownButton" id="teamDropDownButtonWeek"
                                            onchange="switchHeatMapWeekly(this.value)"></select>
                                        <div id="heatMapChartWeekly"></div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                    <div class="widget widget-chart-one">
                                        <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Top Contact
                                            History (Top 5) </p>
                                        <div id="chart5"></div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                    <div class="widget widget-chart-one">
                                        <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Contact
                                            History All</p>
                                        <div>
                                            <table id="contact_his_week" data-page-length='8'>
                                                <thead align="center">
                                                    <tr style="background: none;">
                                                        <!-- <th>S.No</th> -->
                                                        <th>User-Pair</th>
                                                        <th>No. of Contacts</th>
                                                    </tr>
                                                </thead>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                        <!-- <div class="contact_history_container">
                                            <div class="contact_history_header">
                                                <div style="flex:1;color: #718093;"><b>S.No</b></div>
                                                <div style="flex:2;color: #718093;"><b>User-Pair</b></div>
                                                <div style="flex:1;color: #718093;"><b>Number of Contacts</b></div>
                                            </div>
                                            <div class="table_body" id="contact_history_weekly">
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                    <div class="widget widget-chart-one">
                                        <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Daily Totals
                                            For Week Starting</p>
                                        <div id="chart11"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                            </div>
                        </div>
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="weekly-tab">
                        </div>
                    </div>
                </div>



                <div class="row">

                </div>
            </div>


            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="para">Copyright © 2020 <a target="_blank" href="#">Takvaviya</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('ul li a').click(function () {
                $('li a').removeClass("actives");
                $(this).addClass("actives");
            });
        });
        $(function () {

            //   $(function() {
            //   $('#timepicker_new').timepicker();
            // });

        });

    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/natural.js"></script>

    <script src="../../static/main.js?version=2"></script>
</body>

</html>