<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title>Coolpad</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="../../static/assets/bootstrap/css/bootstrap.min.css?version=2" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="../../static/assets/css/style_light.css?version=2" rel="stylesheet" type="text/css" id="theme" />
  <script data-require="moment.js@2.10.2" data-semver="2.10.2"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.js"
    crossorigin="anonymous"></script>
  <script src="../../static/common.js?version=2"></script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js'></script>
  <link rel="shortcut icon" href="../../static/coolpad_favicon.ico?version=2" type="image/x-icon">
  <!--  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">-->
  <link href="../../static/assets/css/paginate.css?version=2" rel="stylesheet" type="text/css" />
  <script src="../../static/dataTable.js"></script>

  <!--    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>-->
  <style>
    .loader {
      border: 6px solid #888EA8;
      /* Light grey */
      border-top: 6px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>

</head>

<body class="body">
  <div class="specific">

    <div class="header-container fixed-top">
      <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item theme-brand flex-row  text-center">
          <!--  <li class="nav-item theme-logo">
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li>-->
          <li class="nav-item theme-text">
            <a class="nav-link top-logo">
              <img id="img" src="../../static/assets/img/coolpad-logo.png?version=2" alt="main-logo"></a>
          </li>
        </ul>
        <ul class="navbar-item flex-row ml-md-auto">
          <li class="main-logo">
            <img id="img1" src="../../static/assets/img/takvaviya-main-logo.png?version=2" alt="main-logo">
          </li>
          <li class="user-logout" onclick="logout()">
            <span class="logout-icon"><i class="fas fa-sign-out-alt" title="sign-out" aria-hidden="true"></i></span>
          </li>
        </ul>
      </header>
    </div>

    <div class="sub-header-container">
      <header class="header navbar navbar-expand-sm">
        <!-- <a href="#" class="sidebarCollapse" data-placement="bottom">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a> -->

        <ul class="navbar-nav flex-row">
          <li>
            <div class="page-header">
              <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"><span>History Dashboard </span></li>

                </ol>
              </nav>
            </div>
          </li>
        </ul>

      </header>
    </div>

    <div class="main-container" id="container">
      <div class="overlay"></div>
      <div class="sidebar-wrapper sidebar-theme">
        <nav id="sidebar">
          <div class="shadow-bottom"></div>
          <ul class="list-unstyled menu-categories ps" id="accordionExample">

            <!-- <li class="menu">
                            <div class="dropdownss">
                                <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i>
                                <span class="dropbtnss">Report</span>
                                  <div class="dropdown-contentss">
                                    <a href="#"><span class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF</a>
                                    <a href="#"><span class="report-icon"><i class="fa fa-file-excel-o" aria-hidden="true"></i></span>XSL</a>
                                    <a href="#"><span class="report-icon"><i class="fas fa-file-csv"></i></span>CSV</a>
                                  </div>
                            </div>
                        </li> -->
            <li class="menu">
              <a class="menuu" href="../dashboard"><span class="side-menu-icon"><i class="fa fa-line-chart"
                    aria-hidden="true"></i>
                </span>Dashboard</a>
            </li>
            <li class="menu">
              <a href="../history_dashboard" class="actives" class="menuu"><span class="side-menu-icon"><i
                    class="fa fa-dedent" aria-hidden="true"></i>
                </span>User Dashboard</a>
            </li>
            <li class="menu">
              <a class="menuu" href="../contact"><span class="side-menu-icon"><i class="fa fa-address-book"
                    aria-hidden="true"></i>
                </span>Contact Tracing</a>
            </li>
            <li class="menu">
              <a class="menuu" href="#" onclick="share()"><span class="side-menu-icon"><i class="fa fa-share-alt"
                    aria-hidden="true"></i>
                </span>Share</a>
            </li>
            <li class="menu">
              <a class="menuu" href="#" onclick="email_share()"><span class="side-menu-icon"><i class="fa fa-envelope"
                    aria-hidden="true"></i>
                </span>Email</a>
            </li>
            <li class="menu">
              <a class="menuu" href="../adduser"><span class="side-menu-icon"><i class="fa fa-user"
                    aria-hidden="true"></i>
                </span>User Profile</a>
            </li>
            <li class="menu">
              <a class="menuu" href="../stickynotes"><span class="side-menu-icon"><i class="far fa-file-alt"
                    aria-hidden="true"></i>
                </span>Notes</a>
            </li>
            <!-- <li class="menu">
                            <a href="#"><span class="side-menu-icon"><i class="fa fa-camera" aria-hidden="true"></i></span>
                                <button type="button" class="btn btn-default">Screen Grab</button>
                            </a>
                        </li> -->
          </ul>
        </nav>
      </div>

      <div id="content" class="main-content">

        <div class="layout-px-spacing">
          <div class="tab">
            <button class="tablinks active" onclick="opentab_history(event, 'user_history'); loadUserHistoy()"><b>User
                History</b></button>
            <button class="tablinks " onclick="opentab_history(event, 'team_history'); loadTeamHistory()"><b>Team
                History</b></button>

            <label class="switch1">
              <input type="checkbox" id="myCheckbox" onchange="toggleCheck()">
              <span class="slider1 round1"></span>
            </label>
            <!--            <div class="form-group" style="padding-left:20px;width: 185px;float:left;margin-top: 10px;">-->
            <!--              <input type="date" id="date_history" name="datee" class="form-control" />-->
            <!--          </div>-->



          </div>

          <!-- <div class="timePicker_duration" id="timePicker_his">
             <h6 class="text-center">Set Time</h6>
            <div id="from"><p>From</p><p><input type="time" id="from_time"></p></div><div id="to"><p>To</p><p><input type="time" id="to_time" ></p></div>
            <button id="submit_hisTime" class="submit_hisbtn" onclick="submit_histime()">Submit</button>
            <button id="cancel_histime" class="cancel_hisbtn" onclick="cancel_histime()">Cancel</button>
          </div> -->

          <div id="user_history" class="tabcontent" style="display: block;">
            <section class="service-categories text-xs-center">
              <div class="container-fluid">

                <div style="display: flex; flex-direction: row;">
                  <div style="flex:6">
                    <div style="padding-left: 1rem; padding-bottom:  1rem;display: flex; flex-direction: row;" id="user_history_loader">
                      <div class="loader" ></div> <b style="padding-left: 2rem;font-size: larger;color: #888ea8;">Loading
                        Data</b>
                    </div>
                    <select class="emp_dp" style=" margin-bottom: 20px;margin-top: -12px;" id="user_history_select"
                      onchange="getSelectValueUserHistory();load_notes_user()">
                      <option>select</option>
                    </select>
                    <div id="selected_time_user" style="font-size: 28px;"></div>
                  </div>



                  <div style="margin-bottom: 20px; display: flex;">

                    <div class="form-group" style="padding-left:20px; margin-top: -28px; margin-right: -11px;">
                      <label>Select Date</label>
                      <input type="date" id="date_history" style="height: 42px;" name="datee" class="form-control" />
                    </div>
                    <div class="form-group user_time" style="margin-right: -10px;">
                      <label style="position: absolute; margin-top: -30px; ">Select Time</label>

                      <button class="HIStimepicker ripple" style="width: 166px;text-align: left;" id="time_change"
                        onclick="timepicker_his()">00:00 &nbsp;To&nbsp; 00:00</button>
                    </div>
                    <div class="form-group user_time" style="margin-right: -10px;">
                      <button class="HIStimepicker ripple" onclick="Restpicker_his()" data-toggle="tooltip" title="Reset">
                        <i class="fa fa-repeat" aria-hidden="true"></i></button></div>
                    <div class="timePicker_duration" id="timePicker_his">
                      <!-- <h6 class="text-center">Set Time</h6> -->
                      <div id="datetimepickerDate" class="timerange">
                        <!-- <input class="form-control" type="text" placeholder="Select time"> -->

                      </div>

                      <div class="float-right mt-2">
                          <button id="cancel_histime" class="custom_modal_btn outline mr-2" onclick="cancel_histime()" data-toggle="tooltip" title="cancel"><i class="fa fa-close" aria-hidden="true"></i></button>
                          <button id="submit_hisTime" class="custom_modal_btn fill " onclick="setHistoryTime()" data-toggle="tooltip" title="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                      </div>

                    </div>


                    <div class="dropdownss">
                      <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
                      <span class="dropbtnss">Report</span>
                      <div class="dropdown-contentss">
                        <div style="padding:1rem; cursor: pointer;" onclick="dwnldusrpdf();"><span
                            class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF</div>
                        <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrxlsx();"><span
                            class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>XLSX</div>
                        <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrcsv();"><span
                            class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>CSV</div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- dialog************************ -->
                <dialog id="my-modal">
                  <h3>Enter Note </h3>
                  <p><textarea style="height: 300px; width:300px; font-size: 15px;" id="note_textt"></textarea></p>
                  <div class="actions">
                    <button onclick="Submit1()" class='ph-button ph-btn-green'>Submit</button>
                    <button id="close-modal-btn" class='ph-button ph-btn-red'>Close</button>
                  </div>
                </dialog>
                <!-- end ************************ -->

                <div class="row">

                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-mobile-alt user-his-cnt fa-3x" aria-hidden="true"></span>
                        <h4 class="card-title" style="border-bottom: 1px solid #ccc;width: 100%;">Current Device ID</h4>
                        <div id="cdid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-user-friends user-his-cnt fa-3x" aria-hidden="true" style=""></span>
                        <h4 class="card-title" style="border-bottom: 1px solid #ccc;width: 100%;">Number of Users In
                          Contact Today</h4>
                        <div id="nouinc"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-users user-his-cnt fa-3x" aria-hidden="true" style=""></span>
                        <h4 class="card-title" style="border-bottom: 1px solid #ccc;width: 100%;">Number of Users In
                          Contact This Week</h4>
                        <div id="nouinw"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="card service-card card-inverse" style="height: 107px;">
                      <div class="card-block">
                        <span class="fa fa-history user-his-cnt fa-3x" aria-hidden="true" style=""></span>
                        <h4 class="card-title" style="border-bottom: 1px solid #ccc;width: 100%;">Maximum Contact
                          Duration This Day</h4>
                        <div id="hcdd"></div>
                      </div>
                    </div>

                    <div class="card service-card card-inverse mt-4" style="height: 107px;">
                      <div class="card-block">
                        <span class="fa fa-id-badge user-his-cnt fa-3x" aria-hidden="true" style=""></span>
                        <h4 class="card-title" style="border-bottom: 1px solid #ccc;width: 100%;">Maximum Contact
                          Duration This Week</h4>
                        <div id="hcdw"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="widget widget-chart-one-userhistory">
                      <div style="display:flex;flex-direction: row;">
                        <p class="para"
                          style="padding-left:0;margin-bottom:0px;border-bottom: 1px solid #ccc;width: 100%;flex:5; color:#fff;font-weight: bold;font-size: 14px;">
                          Hourly Tracker
                        </p>
                        <div>
                          <label class="switch">
                            <input type="checkbox" id="togBtn_history">
                            <div class="slider round">
                              <span class="on">24</span>
                              <span class="off">12</span>
                            </div>
                          </label>
                        </div>
                      </div>
                      <div id="chart20"> </div>


                      <div id="chart21" style="visibility: hidden; "></div>
                    </div>
                  </div>

                  <!-- <div class="col-md-4">
                                  <a href="#">
                                    <div class="card service-card card-inverse">
                                      <div class="card-block">
                                        <span class="fa fa-address-card user-his-cnt fa-3x" aria-hidden="true"></span>
                                        <h4 class="card-title">Contact History this Week</h4>
                                        <p class="count-id">123</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>  -->
                </div>



                <!--End Row-->
                <div class="row layout-top-spacing">
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one">
                      <!-- <p>No of user on</p> -->
                      <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Contact History (Day)</p>
                      <div id="ctd">
                        <!-- <table id="contact_trace_day" class=" " data-page-length='8'>
                        <thead align="center">
                          <tr>
                            <th>S.No</th>
                            <th>User</th>
                            <th>Count</th>
                            <th>Max Duration</th>
                          </tr>
                        </thead>
                        <tfoot></tfoot>
                      </table> -->
                      </div>
                      <!-- <div>
                        <div class="contact_history_container">
                          <div class="contact_history_header row_user_status">
                            <div style="flex:1;color: #718093;"><b>S.No</b></div>
                            <div style="flex:1;color: #718093;"><b>User</b></div>
                            <div style="flex:1;color: #718093;"><b>Count</b></div>
                            <div style="flex:1;color: #718093;"><b>Max Duration</b></div>
                          </div>
                          <div class="table_body_his" id="contact_history_day">
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one">
                      <p class="para" style="border-bottom: 1px solid #ccc;width: 100%;">Contact History (Week)</p>
                      <div id="ctw">
                        <!-- <table id="contact_trace_wee" class=" " data-page-length='8'>
                        <thead align="center">
                          <tr>
                            <th>S.No</th>
                            <th>User</th>
                            <th>Count</th>
                            <th>Max Duration</th>
                          </tr>
                        </thead>
                        <tfoot></tfoot>
                      </table> -->
                      </div>
                      <!-- <div>
                        <div class="contact_history_container">
                          <div class="contact_history_header row_user_status">
                            <div style="flex:1;color: #718093;"><b>S.No</b></div>
                            <div style="flex:1;color: #718093;"><b>User</b></div>
                            <div style="flex:1;color: #718093;"><b>Count</b></div>
                            <div style="flex:1;color: #718093;"><b>Max Duration</b></div>
                          </div>
                          <div class="table_body_his" id="contact_history_week">
                          </div>
                        </div>
                      </div> -->

                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-6">
                    <div class="emp_notes">
                      <div id="E_name"></div>
                      <p class="para" style="border-bottom: 1px solid #ccc;width:97%; ">Contact Event </p>
                      <div id="cea"> </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="emp_notes">
                      <p class="para" style="border-bottom: 1px solid #ccc;width:97%; ">Device ID History</p>
                      <div id="device_id_history"
                        style="height:80%; width: 100%; display: flex; flex-direction: column; align-items: center; font-size: large;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">

                    <div class="emp_notes">
                      <p class="para">Notes</p>

                      <div
                        style="display: flex; flex-direction: row; justify-content: flex-end; float:right;display: inline-block;">

                        <button style="margin:1rem" id="open-modal-btn"><span class="all-notes-plus-icon"><i
                              class="fa fa-plus-circle" aria-hidden="true"></i></span>Add </button>
                        <a href="#notess" class="all-nt" button style="margin:1rem;" onclick="notess()">All
                          Notes</a></button><br>

                      </div>

                      <div id="load_notes1" style="margin-top: -25px;">
                        <div class="note1">
                          <div class="ndate1"><b>12-08-2020</b></div>
                          <div class="nnote1" id="nnote1">
                            <p style="padding-right: 40px;"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing " style="display: none;"
                  id="notess">
                  <div class="widget widget-chart-one-notes">
                    <P class="para"> All notes</P>
                    <span class="fa fa-times" style="float: right; margin-top:-39px; cursor: pointer;"
                      onclick="notes()"></span>
                    <div id="load_notes"
                      style="display: grid;  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));grid-gap: 10px; grid-template-rows: repeat(max-content );">
                      <div class="note1">
                        <div class="ndate"><b>12-08-2020</b></div>
                        <div class="nnote" id="nnote">
                          <p style="padding-right: 40px;"></p>
                        </div>
                        <!-- <button>delete</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--row layout-top-spacing-->
              </div>
              <!--container-fluid-->
            </section>

          </div>


          <div id="team_history" class="tabcontent" style="display: none;">
            <section class="service-categories text-xs-center">

              <div class="container-fluid">

                <!-- <select style="margin-top: 20px; margin-bottom: 20px;" id="team_history_select" onchange="getSelectValueTeamHistory()">
                                <option>select</option>
                                </select> -->

                <div style="display: flex; flex-direction: row;">

                  <div style="flex:6">
                    <div style="padding-left: 1rem;display: flex; flex-direction: row;" id="team_history_loader">
                      <div class="loader"></div> <b style="padding-left: 2rem;font-size: larger;color: #888ea8;">Loading
                        Data</b>
                    </div>
                    <select class="emp_dp" style="margin-bottom: 20px;" id="team_history_select"
                      onchange="getSelectValueTeamHistory();load_notes_team()">
                      <option>select</option>
                    </select>
                    <div id="selected_time_team" style="font-size: 28px;"></div>
                  </div>

                  <div style="margin-bottom: 20px; display: flex; ">

                    <!-- <div class="form-group" style="padding-left:20px;">
                      <input type="date" id="date_history_team" style="height: 42px;" name="datee" class="form-control" />
                    </div>
                    <div class="form-group user_time">
                      <button class="HIStimepicker ripple" style="width: 213px;text-align: left;" id="time_change"
                        onclick="timepicker_his()">From- 00:00:00 To- 23:59:59</button>
                    </div>
                    <div class="form-group user_time">
                      <button class="HIStimepicker ripple" onclick="Restpicker_his()">Reset time</button>
                    </div>
                    <div class="timePicker_duration" id="timePicker_his">
                      <div id="datetimepickerDate" class="input-group timerange">
                        <input class="form-control" type="text" placeholder="Select time">
                        <span class="input-group-addon">
                          <i aria-hidden="true" class="fa fa-clock-o"></i>
                        </span>
                      </div>

                      <div class="float-right mt-2">
                        <button id="cancel_histime" class="custom_modal_btn outline mr-2"
                          onclick="cancel_histime()">Cancel</button>
                        <button id="submit_hisTime" class="custom_modal_btn fill "
                          onclick="setHistoryTime()">Submit</button>
                      </div>
                    </div> -->

                    <div class="dropdownss">
                      <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i>
                        <span class="dropbtnss">Report</span>
                        <div class="dropdown-contentss">
                          <div style="padding:1rem; cursor: pointer;" onclick="dwnldtmpdf();"><span
                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF</div>
                          <div style="padding:1rem;  cursor: pointer;" onclick="dwnldtmxlsx();"><span
                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>XLSX</div>
                          <div style="padding:1rem;  cursor: pointer;" onclick="dwnldtmcsv();"><span
                              class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>CSV</div>

                        </div>
                    </div>
                  </div>
                </div>
                <!-- Teamstickynotes -->
                <dialog id="my-modal1">
                  <h3>Enter Note </h3>
                  <p><textarea style="height: 300px; width:300px; font-size: 15px;" id="note_textt1"></textarea></p>
                  <div class="actions">
                    <button onclick="Submit2()" class='ph-button ph-btn-green'>Submit</button>
                    <button onclick="close_team_notes()" id="close-modal-btn1"
                      class='ph-button ph-btn-red'>Close</button>
                  </div>
                </dialog>


                <div class="row">
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-mobile-alt user-his-cnt fa-3x" aria-hidden="true"
                          style="margin-top:35px;"></span>
                        <h4 class="card-title">Users In Contact</h4>
                        <div id="tuic"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-user-friends user-his-cnt fa-3x" aria-hidden="true"
                          style="margin-top:35px"></span>
                        <h4 class="card-title">Contacts In a Day</h4>
                        <div id="tcid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-users user-his-cnt fa-3x" aria-hidden="true" style="margin-top:35px"></span>
                        <h4 class="card-title">Contacts In a Week</h4>
                        <div id="tciw"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="card service-card card-inverse" style="height: 107px;">
                      <div class="card-block">
                        <span class="fa fa-history user-his-cnt fa-3x" aria-hidden="true"
                          style="margin-top:35px"></span>
                        <h4 class="card-title">Top User Pair by Number of Contacts in a Day</h4>
                        <div id="tmcup"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <span class="fa fa-id-badge user-his-cnt fa-3x" aria-hidden="true"
                          style="margin-top:35px"></span>
                        <h4 class="card-title">Top User Pair by Number of Contacts This Week</h4>
                        <div id="tmcupw"></div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-4">
                                  <a href="#">
                                    <div class="card service-card card-inverse">
                                      <div class="card-block">
                                        <span class="fa fa-address-card user-his-cnt fa-3x" aria-hidden="true"></span>
                                        <h4 class="card-title">Contact History this Week</h4>
                                        <p class="count-id">123</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>  -->
                </div>
                <!--End Row-->
                <div class="row layout-top-spacing">
                  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one-team">
                      <!-- <p>No of user on</p> -->
                      <p class="para"
                        style="border-bottom: 1px solid #ccc;width: 100%;font-size: 15px;font-weight:bold;">Top 5 Users
                        by Number of Contacts in a Day</p>

                      <table id="user_contact" class=" " data-page-length='5'>
                        <thead align="left">
                          <tr>
                            <th>User</th>
                            <th>Number of contacts</th>
                          </tr>
                        </thead>
                        <tfoot></tfoot>
                      </table>
                      <!-- <div>
                        <div>
                          <div class="contact_history_container">
                            <div class="contact_history_header">
                              <div style="flex:1;color: #718093;"><b>S.No</b></div>
                              <div style="flex:2;position: absolute;left: 35%;color: #718093;"><b>User</b></div>
                              <div style="flex:1;padding-left:70px;color: #718093;"><b>Number of Contacts</b></div>
                            </div>
                            <div class="table_body_his" id="contact_history_tday">
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one-team">
                      <p class="para"
                        style="border-bottom: 1px solid #ccc;width: 100%; font-size: 15px;font-weight:bold;">Top 5 Users
                        by Number of Contacts This Week</p>
                      <table id="user_contact_weekss" class=" " data-page-length='5'>
                        <thead align="left">
                          <tr>
                            <th>User</th>
                            <th>Number of contacts</th>
                          </tr>
                        </thead>
                        <tfoot></tfoot>
                      </table>
                      <!-- <div>
                        <div class="contact_history_container">
                          <div class="contact_history_header">
                            <div style="flex:1;color: #718093;"><b>S.No</b></div>
                            <div style="flex:2;position: absolute;left: 35%;color: #718093;"><b>User</b></div>
                            <div style="flex:1; padding-left:70px;color: #718093;"><b>Number of Contacts</b></div>
                          </div>
                          <div class="table_body_his" id="contact_history_tweek">
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- *********************************************************************************************** -->
                  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one-team-notes">
                      <p class="para" style="color: rgb(255, 255, 255);">Notes</p>
                      <div style="float:right; ">

                        <button style="margin:1rem" onclick="team_notes_show()" id="open-modal-btn1"><span
                            class="all-notes-plus-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                          Add </button>
                        <a href="#notess1" class="all-nt" button="" style="margin:1rem ;" onclick="notess1()">All
                          Notes</a><br>
                      </div>
                      <!-- <div class="teamm_notess"> -->

                      <div id="load_notes2" style="margin-top: -15px;">
                        <div class="note_c">
                          <div class="ndate2"><b>12-08-2020</b></div>
                          <div class="nnote2" id="nnote2">
                            <p style="padding-right: 40px;"></p>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
                <!--row layout-top-spacing-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing" style="display: none;"
                  id="notess1">
                  <div class="widget widget-chart-one-notes">
                    <P class="para"> All notes</P>
                    <span class="fa fa-times" style="float: right; margin-top:-39px; cursor: pointer;"
                      onclick="notes1()"></span>
                    <div id="load_notes_team"
                      style="display: grid;  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));grid-gap: 10px; grid-template-rows: repeat(max-content );">
                      <div class="note_card">
                        <div class="ndate"><b>12-08-2020</b></div>
                        <div class="nnote" id="nnote">
                          <p style="padding-right: 40px;"></p>
                        </div>
                        <!-- <button>delete</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
                <!-- <div id="load_notes_team" style="display: grid;  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));grid-gap: 10px; grid-template-rows: repeat(max-content );">
                  <div class="note_card">
                    <div class="ndate"><b>12-08-2020</b></div>
                    <div class="nnote" id="nnote"><p style="padding-right: 40px;"></p></div>
                </div>
              </div> -->
              </div>
              <!--container-fluid-->
            </section>
          </div>





          <div class="row">

          </div>
        </div>


        <div class="footer-wrapper">
          <div class="footer-section f-section-1">
            <p class="para">Copyright © 2020 <a target="_blank" href="#">Takvaviya</a>, All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('ul li a').click(function () {
          $('li a').removeClass("actives");
          $(this).addClass("actives");
        });
      });

      var input = document.getElementById('togBtn_history');

      input.addEventListener('change', function () {

        if (this.checked) {
          console.log("true 24")

          document.getElementById("chart20").style.display = 'none';
          document.getElementById("chart21").style.visibility = 'visible';





        }
        else {
          console.log("flaseee")
          document.getElementById("chart20").style.display = 'block';

          document.getElementById("chart21").style.visibility = 'hidden';


        }


      });
      function notes1() {
        document.getElementById("notess1").style.display = 'none'
      }
      function notess1() {
        document.getElementById("notess1").style.display = 'block'

      }
      function notes() {
        document.getElementById("notess").style.display = 'none'
      }
      function notess() {
        document.getElementById("notess").style.display = 'block'

      }
    </script>

    <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/natural.js"></script>
    <script src="../../static/index_one.js?version=2"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js'></script>
    <script src='https://superal.github.io/canvas2image/canvas2image.js'></script>
  </div>

</body>

</html>