<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Coolpad</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="../../static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/style.css" rel="stylesheet" type="text/css" id="theme" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script data-require="moment.js@2.10.2" data-semver="2.10.2"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js'></script>
    <link rel="shortcut icon" href="../../static/coolpad_favicon.ico" type="image/x-icon">
    <!-- plugin -->
    <script type="text/javascript" src="../../static/build/sigma.js"></script>
    <script src="../../static/build/plugins/sigma.plugins.dragNodes.min.js"></script>
    <script type="text/javascript" src="../../static/build/plugins/sigma.layout.forceAtlas2/worker.js"></script>
    <script type="text/javascript" src="../../static/build/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- plugin end -->


    <script src="../../static/common.js"></script>
    <style>
        /*.date-value {
    padding-left: 20px;
}*/
    </style>
</head>

<body>
    <div class="specific">

        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm">
                <ul class="navbar-item theme-brand flex-row  text-center">
                    <!--  <li class="nav-item theme-logo">
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li>-->
                    <li class="nav-item theme-text">
                        <a class="nav-link top-logo">
                            <img id="img" src="../../static/assets/img/coolpad-logo.png" alt="main-logo"></a>
                    </li>
                </ul>
                <ul class="navbar-item flex-row ml-md-auto">
                    <li class="main-logo">
                        <img id="img1" src="../../static/assets/img/takvaviya-main-logo.png" alt="main-logo">
                    </li>
                    <li class="user-logout" onclick="logout()">
                        <span class="logout-icon"><i class="fas fa-sign-out-alt" title="sign-out"
                                aria-hidden="true"></i></span>
                    </li>
                </ul>
            </header>
        </div>

        <div class="sub-header-container">
            <header class="header navbar navbar-expand-sm">


                <ul class="navbar-nav flex-row">
                    <li>
                        <div class="page-header">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page"><span>Contact Tracing </span>
                                    </li>

                                </ol>
                            </nav>
                        </div>
                    </li>
                </ul>

            </header>
        </div>

        <div class="main-container" id="container">
            <div class="overlay"></div>
            <div class="sidebar-wrapper sidebar-theme">
                <nav id="sidebar">
                    <div class="shadow-bottom"></div>
                    <ul class="list-unstyled menu-categories ps" id="accordionExample">


                        <li class="menu">
                            <a href="../dashboard"><span class="side-menu-icon"><i class="fa fa-line-chart"
                                        aria-hidden="true"></i>
                                </span>Dashboard</a>
                        </li>
                        <li class="menu">
                            <a href="../history_dashboard"><span class="side-menu-icon"><i class="fa fa-dedent"
                                        aria-hidden="true"></i>
                                </span>History Dashboard</a>
                        </li>
                        <li class="menu">
                            <a href="../contact" class="actives"><span class="side-menu-icon"><i
                                        class="fa fa-address-book" aria-hidden="true"></i>
                                </span>Contact Tracing</a>
                        </li>
                        <li class="menu">
                            <a href="#" onclick="share()"><span class="side-menu-icon"><i class="fa fa-share-alt"
                                        aria-hidden="true"></i>
                                </span>Share</a>
                        </li>
                        <li class="menu">
                            <a href="#"><span class="side-menu-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>Email</a>
                        </li>
                        <li class="menu">
                            <a href="../adduser"><span class="side-menu-icon"><i class="fa fa-user-plus"
                                        aria-hidden="true"></i>
                                </span>Add User</a>
                        </li>
                        <li class="menu">
                            <a href="../stickynotes"><span class="side-menu-icon"><i class="far fa-file-alt"
                                        aria-hidden="true"></i>
                                </span>Notes</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="content" class="main-content">
                <label class="switch1">
                    <input type="checkbox" id="myCheckbox" onchange="toggleCheck()">
                    <span class="slider1 round1"></span>
                </label>
                <div class="layout-p-spacing">

                    <div class="date_n_emp">
                        <div class="select_emp_div" style="width: 20%;margin-top: 3%;">
                            <div class=" layout-spacing">
                                <div class="date-value">
                                    <label>Report Contacted Person</label>
                                    <select id="render_emp_list" onchange="trigger_emp(this)">
                                        <option>Select</option>
                                        <script>
                                            var i;
                                            var append_op;
                                            var sample_data;
                                            for (i = 1; i <= 20; i++) {
                                                append_op = "";
                                                append_op += '<option  value="emp ' + i + '">Emp ' + i + '</option>';
                                                $("#render_emp_list").append(append_op);
                                            }
                                        </script>
                                        <!--                                    <option selected>Select</option>//onchange="trigger_contact(this)"
                                    <option>This is another Option</option>-->
                                    </select>
                                </div>
                            </div>

                            <div class="layout-spacing">
                                <div class="date-show">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" id="startDate" name="bday" max="3000-12-31" min="1000-01-01"
                                            class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="layout-spacing">
                                <div class="date-show">
                                    <div class="form-group" id="sub">
                                        <label>End Date</label>
                                        <span><input type="date" id="endDate" name="bday" min="1000-01-01"
                                                max="3000-12-31" class="form-control">
                                            <button class="sub" onclick="trigger_contact()"
                                                style="margin-top: 20px;">Submit</button></span>
                                    </div>

                                </div>

                            </div>

                        </div>



                        <div class="main_emp_div">
                            <div class="aff_hd">Affected Person</div>
                            <div class="aff_card">
                                <div class="aff_icon"><i class="fa fa-user"></i></div>
                                <div class="aff_detail">
                                    <p>Name</p>
                                    <h4 id="emp_name">No Data</h4>
                                    <div class="add_date">
                                        <div>
                                            <p>Start Date</p>
                                            <h6 id="st_val">No Data</h6>
                                        </div>
                                        <div style="padding-left: 15px;">
                                            <p>End Date</p>
                                            <h6 id="end_val">No Data</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="direct_contact_emp_toggle">
                    <div class="tab">
                        <button class="tablinks active" onclick="opentab_cf(event, 'table')"><b>Table Model</b></button>
                        <button class="tablinks " onclick="opentab_cf(event, 'network');  trigger_contact()"><b>Network Model</b></button>
                        <!-- <button class="tablinks " onclick="opentab_cf(event, 'network'); trigger_contact()"><b>Network Model</b></button> -->
                    </div>
                    <div id="table" class="tabcontent" style="display: block;">

                        <div class="common">
                            <div class="direct_contact_emp" id="all_third_pair">

                            </div>


                            <div class="indirect_emps" id="indirect_emps">
                                <div class="in_header">
                                    <h5>Indirect contacts of Affected Person</h5>
                                    <p style="cursor:pointer" onclick="close_indirect()">Close</p>
                                </div>
                                <table id="layer3_append">

                                </table>
                            </div>
                        </div>
                    </div>


                    <div id="network" class="tabcontent" style="display: none;">
                        <div id="contact-graph">
                        </div>

                    </div>
                </div>




            </div>


        </div>


    </div>


    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        function opentab_history(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!--
        <script src="/static/main.js"></script>
-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js'></script>
    <script src='https://superal.github.io/canvas2image/canvas2image.js'></script>


    <script>

        var e;


        function trigger_emp(elm) {
            e = elm.value;

        }



        function trigger_contact() {
            var s_date = "2020-08-03"
            var e_date = "2020-08-07"
            console.log(e, 'kkkk');
            getContactTracingData(e, s_date, e_date)
        $.ajax({
                type: "GET",
                url: "https://takvaviya.in/coolpad_backend/user/contact_trace/" + e + "/" + s_date + "/" + e_date,
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    res = response;

                    document.getElementById("emp_name").innerHTML = e
                    document.getElementById("st_val").innerHTML = $("#startDate").val();
                    document.getElementById("end_val").innerHTML = $("#endDate").val();
                    var append_data;
                    append_data = "";

                    $("#first_trace").empty();
                    $('#all_third_pair').empty();
                    append_data += '<h4 class="dir_title mt-4">Direct Contacts of Affected Person</h4>'
                    for (var i in response[0][e]) {
                        var c_date = response[0][e][i]['Date'].split("T");

                        append_data += '<div class="layer1_card act">';
                        append_data += '<p><i class="fa fa-calendar-o"></i> ' + c_date[0] + '</p>';
                        append_data += '<h4 onclick="open_indirect(this)" id="cd_title" value = "' + i + '">' + i + '</h4><br>';
                        append_data += '<div class="in_content mt-2"><span><i class="fa fa-users"></i> Interaction ' + response[0][e][i]['count'] + '</span></div>'
                        append_data += '<div class="in_content mt-2"><span><i class="fa fa-clock-o"></i> Duration ' + response[0][e][i]['max_duration'] + '</span></div>'
                        append_data += '</div>';

                    }
                    $('#all_third_pair').append(append_data);
                }
            });

        }

        function open_indirect(elm) {
            var layer_ind;
            layer_ind = '';
            console.log(elm.getAttribute('value'));
            document.getElementById('indirect_emps').style.display = "block";
            $("#layer3_append").empty();
            layer_ind += '<tr>'
            layer_ind += ' <th>Indirect Contacts</th>'
            layer_ind += '<th>Duration</th>'
            layer_ind += '<th>Interaction Count</th>'
            layer_ind += '<th>Date</th>'
            layer_ind += ' </tr>';
            var third_layer;
            for (var k in res[1]) {
                console.log(res[1][k][elm.getAttribute('value')]);
                third_layer = res[1][k][elm.getAttribute('value')];
                for (var i in third_layer) {
                    var c_date = third_layer[i]["Date"].split("T");
                    layer_ind += '<tr>'
                    layer_ind += ' <td>' + i + '</td>'
                    layer_ind += '<td>' + third_layer[i]["max_duration"] + '</td>'
                    layer_ind += '<td>' + third_layer[i]["count"] + '</td>'
                    layer_ind += '<td>' + c_date[0] + '</td>'
                    layer_ind += ' </tr>';
                }
            }

            $("#layer3_append").append(layer_ind);
        }

        function close_indirect() {
            document.getElementById('indirect_emps').style.display = "none";
        }


    </script>
    <script>
        $(document).ready(function () {
            $('ul li a').click(function () {
                $('li a').removeClass("actives");
                $(this).addClass("actives");
            });
        });




    </script>
    <script type="text/javascript" src="../../static/contact.tracing.js"></script>


    </div>
</body>

</html>