<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Coolpad</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="../../static/assets/bootstrap/css/bootstrap.min.css?version=2" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/style_light.css?version=2" rel="stylesheet" type="text/css" id="theme" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- <script data-require="moment.js@2.10.2" data-semver="2.10.2"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script> -->
    <script data-require="moment.js@2.10.2" data-semver="2.10.2" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.js" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js'></script>
    <link rel="shortcut icon" href="../../static/coolpad_favicon.ico?version=2" type="image/x-icon">
    <!-- plugin -->
    <script type="text/javascript" src="../../static/build/sigma.js?version=2"></script>
    <script src="../../static/build/plugins/sigma.plugins.dragNodes.min.js?version=2"></script>
    <script type="text/javascript" src="../../static/build/plugins/sigma.layout.forceAtlas2/worker.js?version=2"></script>
    <script type="text/javascript" src="../../static/build/plugins/sigma.layout.forceAtlas2/supervisor.js?version=2"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="../../static/dataTable.js"></script>
    <link href="../../static/assets/css/paginate.css?version=2" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/natural.js"></script>

    <script src='https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js'></script>
    <!-- plugin end -->


    <script src="../../static/common.js?version=2"></script>
    <style>
        /*.date-value {
    padding-left: 20px;
}*/
    </style>
</head>

<body>
    <div class="specific">

        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm">
                <ul class="navbar-item theme-brand flex-row  text-center">
                    <!--  <li class="nav-item theme-logo">
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li>-->
                    <li class="nav-item theme-text">
                        <a class="nav-link top-logo">
                            <img id="img" src="../../static/assets/img/coolpad-logo.png?version=2" alt="main-logo"></a>
                    </li>
                </ul>
                <ul class="navbar-item flex-row ml-md-auto">
                    <li class="main-logo">
                        <img id="img1" src="../../static/assets/img/takvaviya-main-logo.png?version=2" alt="main-logo">
                    </li>
                    <li class="user-logout" onclick="logout()">
                        <span class="logout-icon"><i class="fas fa-sign-out-alt" title="sign-out"
                                aria-hidden="true"></i></span>
                    </li>
                </ul>
            </header>
        </div>

        <div class="sub-header-container">
            <header class="header navbar navbar-expand-sm">


                <ul class="navbar-nav flex-row">
                    <li>
                        <div class="page-header">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page"><span>Contact Tracing </span>
                                    </li>

                                </ol>
                            </nav>
                        </div>
                    </li>
                </ul>

            </header>
        </div>

        <div class="main-container" id="container">
            <div class="overlay"></div>
            <div class="sidebar-wrapper sidebar-theme">
                <nav id="sidebar">
                    <div class="shadow-bottom"></div>
                    <ul class="list-unstyled menu-categories ps" id="accordionExample">


                        <li class="menu">
                            <a href="../dashboard"><span class="side-menu-icon"><i class="fa fa-line-chart"
                                        aria-hidden="true"></i>
                                </span>Dashboard</a>
                        </li>
                        <li class="menu">
                            <a href="../history_dashboard"><span class="side-menu-icon"><i class="fa fa-dedent"
                                        aria-hidden="true"></i>
                                </span>User Dashboard</a>
                        </li>
                        <li class="menu">
                            <a href="../contact" class="actives"><span class="side-menu-icon"><i
                                        class="fa fa-address-book" aria-hidden="true"></i>
                                </span>Contact Tracing</a>
                        </li>
                        <li class="menu">
                            <a href="#" onclick="share()"><span class="side-menu-icon"><i class="fa fa-share-alt"
                                        aria-hidden="true"></i>
                                </span>Share</a>
                        </li>
                        <li class="menu">
                            <a onclick="email_share()" href="#"><span class="side-menu-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>Email</a>
                        </li>
                        <li class="menu">
                            <a href="../adduser"><span class="side-menu-icon"><i class="fa fa-user"
                                        aria-hidden="true"></i>
                                </span>User Profile</a>
                        </li>
                        <li class="menu">
                            <a href="../stickynotes"><span class="side-menu-icon"><i class="far fa-file-alt"
                                        aria-hidden="true"></i>
                                </span>Notes</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="content" class="main-content">
                <label class="switch1">
                    <input type="checkbox" id="myCheckbox" onchange="toggleCheck()">
                    <span class="slider1 round1"></span>
                </label>
                <div style="float:right; margin-top: 55px;margin-right: 49px;">
                    <div class="dropdownss" onclick="ct_rep();" style="display:none">
                        <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
                        <span class="dropbtnss">Report</span>
                        <!-- <div class="dropdown-contentss">
                            <div style="padding:1rem; cursor: pointer;" onclick="dwnldusrpdf();"><span
                                    class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>PDF
                            </div>
                            <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrxlsx();"><span
                                    class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>XLSX
                            </div>
                            <div style="padding:1rem;  cursor: pointer;" onclick="dwnldusrcsv();"><span
                                    class="report-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>CSV
                            </div>

                        </div>  -->
                    </div>
                </div>
                <div class="layout-p-spacing">

                    <div class="date_n_emp">
                        <div class="select_emp_div" style="width: 20%;margin-top: 3%;">
                            <div class=" layout-spacing">
                                <div class="date-value">
                                    <label>Report Contacted Person</label>
                                    <select id="render_emp_list" onchange="trigger_emp(this)">
                                        <!-- <option>Select</option> -->
                                        <!--<script>
                                            var i;
                                            var append_op;
                                            var sample_data;
                                            for (i = 1; i <= 20; i++) {
                                                append_op = "";
                                                append_op += '<option  value="emp ' + i + '">Emp ' + i + '</option>';
                                                $("#render_emp_list").append(append_op);
                                            }
                                        </script> -->
                                        <!--                                    <option selected>Select</option>//onchange="trigger_contact(this)"
                                    <option>This is another Option</option>-->
                                    </select>
                                </div>
                            </div>

                            <div class="layout-spacing">
                                <div class="date-show">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" id="startDate" name="bday" min="1000-01-01" class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="layout-spacing">
                                <div class="date-show">
                                    <div class="form-group" id="sub">
                                        <label>End Date</label>
                                        <span><input type="date" id="endDate" name="bday" min="1000-01-01"
                                                max="3000-12-31" class="form-control">
                                            <button class="sub" onclick="trigger_contact()"
                                                style="margin-top: 20px;">Submit</button></span>
                                    </div>

                                </div>

                            </div>

                        </div>



                        <div class="main_emp_div">
                            <div class="aff_hd">Contacted Person</div>
                            <div class="aff_card">
                                <div class="aff_icon"><i class="fa fa-user"></i></div>
                                <div class="aff_detail">
                                    <p>Name</p>
                                    <h4 id="emp_name">No Data</h4>
                                    <div class="add_date">
                                        <div>
                                            <p>Start Date</p>
                                            <h6 id="st_val">No Data</h6>
                                        </div>
                                        <div style="padding-left: 15px;">
                                            <p>End Date</p>
                                            <h6 id="end_val">No Data</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="direct_contact_emp_toggle">
                    <div class="tab">
                        <button class="tablinks active" onclick="opentab_cf(event, 'table')"><b>Table Model</b></button>
                        <button class="tablinks " onclick="opentab_cf(event, 'network');  netWorkGraphSwitch('netWorkSwitch')"><b>Network
                                Model</b></button>
                        <!-- <button class="tablinks " onclick="opentab_cf(event, 'network'); trigger_contact()"><b>Network Model</b></button> -->
                    </div>
                    <div id="table" class="tabcontent" style="display: block;">

                        <div class="common">
                            <div class="direct_contact_emp" id="all_third_pair">

                            </div>

                            <div class="row mr-3 ml-1">
                                <div class="col-md-6">
                                    <div class="indirectContacts" id="indirectInteractions">
                                        <div class="in_header">
                                            <h5 id="interaction_tittle"></h5>
                                            <i class="fa fa-times" aria-hidden="true" onclick="close_indirect_status()"></i>
                                        </div>
                                        <table id="indirectInteraction" data-page-length='7'>
                                            <thead align="center">
                                            <tr>
                                                <th>Timestamp</th>
                                                <th>Duration</th>
                                                <th>AvgDist</th>
                                                <th>MinDist</th>
                                            </tr>
                                        </thead>
                                        <tfoot></tfoot>
                                        </table>
                                        <div class="indirectContactLegend">
                                            <div>
                                                <i class="fa fa-square" aria-hidden="true"></i> Contact Duration > 15 Minutes
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="indirectContacts" id="indirectContacts">
                                        <div class="in_header">
                                            <h5>Indirect contacts of Contacted Person</h5>
                                            <i class="fa fa-times" aria-hidden="true" onclick="close_indirect()"></i>
                                        </div>
                                        <table id="indirectContactTable"  data-page-length='7'>
                                            <thead align="center">
                                                <tr>
                                                    <th>Indirect Contacts</th>
                                                    <th>Max duration</th>
                                                    <th>Interactions</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tfoot></tfoot>
                                        </table>
                                        <div class="indirectContactLegend">
                                            <div>
                                                <i class="fa fa-square" aria-hidden="true"></i> Contact Duration > 15 Minutes
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Network Graph Start-->
                    <div id="network" class="tabcontent" style="display: none;">
                        <div class="contact-graph-container">
                            <div class="contact-graph-legend">
                                <span>
                                    <span style="font-size:2.5em;">&#8594;</span><span style="padding-left: 15px;margin-top:15px;">Direct Contacts</span>
                                </span>
                                <span>
                                    <span style="color: #20c997;font-size:2.5em;">&#8594;</span><span style="padding-left: 15px;margin-top:15px;">Indirect
                                        Contacts</span>
                                </span>
                                <div id="teamIcons" style="padding-top:20px;">
                                </div>
                                <span style="padding-top:25px;font-size:24px; cursor: context-menu;">Direct Contacts of:</span>
                                <p style="font-size:24px;text-transform: capitalize; cursor: context-menu;" id="label-currentEmp"></p>
                                <div id="label-onclick">
                                </div>
                            </div>
                            <div id="contact-graph">
                            </div>
                            <div id="contact-graph-noData" style="display: none; text-align: center;width: 100%;">
                                <h3>No Data Available</h3>
                            </div>
                            <div style="display: none;" id="contact-graph-zoomControl">
                                <button class="zoomButtons" id="zoomInButton" onclick="zoomContactGraph('in')">+</button>
                                <button class="zoomButtons" id="zoomOutButton" onclick="zoomContactGraph('out')">-</button>
                            </div>
                        </div>
                    </div>
                    <!--Network Graph End-->

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();
            var maxDate = year + '-' + month + '-' + day;
            $('#startDate').attr('max', maxDate);
            $('#endDate').attr('max', maxDate);
        });


        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function opentab_history(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js'></script>
    <script src='https://superal.github.io/canvas2image/canvas2image.js'></script>


    <script>
        var e;


        //contact tracing report

        function ct_rep() {



            //Todo not user instance its emp instance

            console.log("rep");
            // 'https://takvaviya.in/coolpad_backend/user/pdf_gen/' + user_instance + '/' + start_date + '/' + end_date + '/' + current_date + '/' + common4all
            fetch('https://takvaviya.in/coolpad_backend/' + e + '/User_history_data/' + start_date + '/' + end_date + '/' + current_date + '/' + common4all)
                .then(response => response.json())
                .then(data => {
                    // console.log(data.path+".pdf");
                    window.location.href = data.path + ".pdf"
                });


        }


        function trigger_emp(elm) {
            e = elm.value;

        }

        function zoomContactGraph(zoomAction) {
            if (zoomAction === 'in') {
                renderZoomContactGraph(0.5);
            } else {
                renderZoomContactGraph(2);
            }
        }

        function netWorkGraphSwitch() {
            if (!contactTracingData) {
                e_date = moment(e_date, "YYYY-MM-DD").add(1, 'd').format("YYYY-MM-DD");
                getContactTracingData(e, s_date, e_date)
            }
        }
        /*            var s_date = "2020-08-03"
                    var e_date = "2020-08-07"*/
        var s_date, e_date;
        var default_currnt_param = "00-00-00";
        function trigger_contact() {
            s_date = document.getElementById("startDate").value;
            e_date = document.getElementById("endDate").value;
            e_date = moment(e_date, "YYYY-MM-DD").add(1, 'd').format("YYYY-MM-DD");
            /*var s_date = "2020-08-03"
              var e_date = "2020-08-07"*/
            console.log(e, 'kkkk');
            if (document.getElementById('network').style.display === 'block') {
                getContactTracingData(e, s_date, e_date);

            } else {
                contactTracingData = null
            }
            $.ajax({
                type: "GET",
                url: "https://takvaviya.in/coolpad_backend/user/contact_trace/" + e + "/" + s_date+" "+default_currnt_param+ "/" + e_date +" "+default_currnt_param +"/" + common4all,
                dataType: 'json',
                success: function(response) {
                    document.getElementById('indirectContacts').style.display = "none";

                    document.getElementById('indirectInteractions').style.display = "none";
                    console.log("https://takvaviya.in/coolpad_backend/user/contact_trace/" + e + "/" + s_date+" "+default_currnt_param+ "/" + e_date +" "+default_currnt_param +"/" + common4all);
                    res = response;
                    eve = response[1][e]
                    console.log(response[1][e])
                    document.getElementById("emp_name").innerHTML = e
                    document.getElementById("st_val").innerHTML = $("#startDate").val();
                    document.getElementById("end_val").innerHTML = $("#endDate").val();
                    var append_data;
                    append_data = "";

                    $("#first_trace").empty();
                    $('#all_third_pair').empty();
                    append_data += '<h4 class="dir_title mt-4">Direct Contacts of Contacted Person</h4>'
                    for (var i in response[1][e]) {
                        var c_date = response[1][e][i]['Date'].split("T");
                        let c_date1 = moment(c_date[0]).format("MM-DD-YYYY")
                        append_data += '<div class="layer1_card act" onclick="open_indirect(this)" id="cd_title" value = "' + i + '" style="cursor:pointer">';
                        append_data += '<p><i class="fa fa-calendar-o"></i> ' + c_date1 + '</p>';
                        append_data += '<h4 >' + i + '</h4><br>';
                        append_data += '<div class="in_content mt-2"><span><i class="fa fa-users"></i> Interaction ' + response[1][e][i]['count'] + '</span></div>'
                        append_data += '<div class="in_content mt-2"><span><i class="fa fa-clock-o"></i> Max Duration ' + response[1][e][i]['max_duration'] + '</span></div>'
                        append_data += '</div>';
                        console.log(i)

                    }
                    $('#all_third_pair').append(append_data);

                }
            });

        }

        var $links = $('.layer1_card');
        $links.click(function() {
            $links.removeClass('selected');
            $(this).addClass('selected');
        });

        var status_table_render;


        var indirectContactTable =  $('#indirectContactTable').DataTable({
                                        "searching": false,
                                        "info": false,
                                        "bLengthChange": false,
                                        "columns": [{ "data": "indirectContact" },{ "data": "max_duration" }, { "data": "count" }, { "data": "Date"}],
                                        "order": [[ 1, "desc" ]],
                                        columnDefs: [
                                            { type: 'natural-nohtml', targets: [0,1] },
                                            { width: '25%', targets: [0,1,2] }
                                        ],
                                        fixedColumns: true,
                                    fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                        if (aData.milliseconds >= 900000) {
                                            $(nRow).addClass('beyondFifteen');
                                        }     
                                    }
                                    });
        var interactionTable =  $('#indirectInteraction').DataTable({
                                    "searching": false,
                                    "info": false,
                                    "bLengthChange": false,
                                    "columns": [{ "data": "timestamp" },{ "data": "duration" }, { "data": "avgDist" }, { "data": "minDist"}],
                                    "order": [[ 1, "desc" ]],
                                    columnDefs: [
                                            { type: 'natural-nohtml', targets: [0,1] }
                                        ],
                                    fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                    if (aData.milliseconds >= 900000) {
                                            $(nRow).addClass('beyondFifteen');
                                        }   
                                    }
                                });
        document.getElementById('indirectContacts').style.display = 'none';
        document.getElementById('indirectInteractions').style.display = "none";

        function open_indirect(elm) {

            //var bg = document.getElementsByClassName('layer1_card');


            //for(var i = 0 ; i < bg.length ; i++){
            //    bg[i].style.backgroundColor = "#1a1c2d";
            //}
            //elm.style.backgroundColor = "#527581";


            if ($(elm).hasClass("selected")) {
                $(elm).removeClass("selected");
            } else {
                $(".layer1_card").removeClass("selected");
                $(elm).addClass("selected");
            }


            document.getElementById('indirectContacts').style.display = "block";
            document.getElementById('indirectInteractions').style.display = "block";

            indirectContactTable.clear();
            interactionTable.clear();

            let indirectContactsArray = res[2];
            let clickedContactName = elm.getAttribute('value')
            let clickedContactDetails = null;
            for(let i=0;i<indirectContactsArray.length;i++) {
                if(indirectContactsArray[i][clickedContactName])
                {
                    clickedContactDetails = indirectContactsArray[i][clickedContactName]
                    break;
                }
            }
            for(const contact in clickedContactDetails)
            {
                clickedContactDetails[contact].indirectContact = String(contact);
                let currentDateFormat = clickedContactDetails[contact].Date
                clickedContactDetails[contact].Date = moment(currentDateFormat).format("MM-DD-YYYY")
            }
            let clickedContactDetailsArray = Object.values(clickedContactDetails)
            indirectContactTable.rows.add(clickedContactDetailsArray);
            indirectContactTable.draw();
            document.getElementById('interaction_tittle').innerHTML = e + ' and ' + elm.getAttribute('value') + ' Interactions'
            let interactionData = [];
            for (var n in eve[elm.getAttribute('value')]['events']) {
                event_data = eve[elm.getAttribute('value')]['events'][n]
                interactionData.push(event_data)
            }
            interactionTable.rows.add(interactionData);
            interactionTable.draw();
        }

        function close_indirect() {
            document.getElementById('indirectContacts').style.display = "none";
        }

        function close_indirect_status() {

            document.getElementById('indirectInteractions').style.display = "none";

        }
    </script>
    <script>
        $(document).ready(function() {
            $('ul li a').click(function() {
                $('li a').removeClass("actives");
                $(this).addClass("actives");
            });
        });




    </script>
    <script type="text/javascript" src="../../static/contact.tracing.js?version=2"></script>


    </div>
</body>

</html>