<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Coolpad - Add User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="../../static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js'></script>
    <script data-require="moment.js@2.10.2" data-semver="2.10.2"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="../../static/common.js"></script>
        <link rel="shortcut icon" href="../../static/coolpad_favicon.ico" type="image/x-icon">


</head>

<body onload='timerTick()'>
    <div class="specific">

        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm">
                <ul class="navbar-item theme-brand flex-row  text-center">
                    <!-- <li class="nav-item theme-logo">
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li> -->
                  <li class="nav-item theme-text">
                        <a  class="nav-link top-logo">
                        <img src="../../static/assets/img/coolpad-logo.png" alt="main-logo"></a>
                    </li>
                </ul>

                <ul class="navbar-item flex-row ml-md-auto">
                    <li class="main-logo">
                        <img src="../../static/assets/img/takvaviya-main-logo.png" alt="main-logo">
                    </li>
                    <li class="user-logout">
                        <span class="logout-icon" onclick="logout()"><i class="fas fa-sign-out-alt" title="sign-out"
                                aria-hidden="true"></i></span>
                    </li>
                </ul>
            </header>
        </div>

        <div class="sub-header-container">
            <header class="header navbar navbar-expand-sm">
                <!-- <a href="#" class="sidebarCollapse" data-placement="bottom">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a> -->

                <ul class="navbar-nav flex-row">
                    <li>
                        <div class="page-header">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page"><span>Dashboard </span></li>

                                </ol>
                            </nav>
                        </div>
                    </li>
                </ul>

            </header>
        </div>

        <div class="main-container" id="container">
            <div class="overlay"></div>
            <div class="sidebar-wrapper sidebar-theme">
                <nav id="sidebar">
                    <div class="shadow-bottom"></div>
                    <ul class="list-unstyled menu-categories ps" id="accordionExample">
                        <!--<li class="menu">
                            <div class="dropdownss">
                                <span class="side-menu-icon"><i class="fa fa-file" aria-hidden="true"></i>
                                    <span class="dropbtnss">Report</span>
                                    <div class="dropdown-contentss">
                                        <a href="#"><span class="report-icon"><i class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i></span>PDF</a>
                                        <a href="#"><span class="report-icon"><i class="fa fa-file-excel-o"
                                                    aria-hidden="true"></i></span>XSL</a>
                                        <a href="#"><span class="report-icon"><i
                                                    class="fas fa-file-csv"></i></span>CSV</a>
                                    </div>
                            </div>
                        </li> -->
                                             <li class="menu">
                            <a href="../dashboard"><span class="side-menu-icon"><i class="fa fa-line-chart" aria-hidden="true"></i>
                                </span>Dashboard</a>
                        </li>
                         <li class="menu">
                            <a href="../history_dashboard"><span class="side-menu-icon"><i class="fa fa-dedent" aria-hidden="true"></i>
                                </span>History Dashboard</a>
                        </li>
                         <li class="menu">
                            <a href="../contact"><span class="side-menu-icon"><i class="fa fa-address-book" aria-hidden="true"></i>
                                </span>Contact Tracing</a>
                        </li>
                        <li class="menu">
                            <a href="#" onclick="share()"><span class="side-menu-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                </span>Share</a>
                        </li>
                        <li class="menu">
                            <a href="#"><span class="side-menu-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>Email</a>
                        </li>
                        <li class="menu">
                            <a href="../adduser" class="actives"><span class="side-menu-icon"><i class="fa fa-user-plus" aria-hidden="true"></i>
                                </span>Add User</a>
                        </li>
                        <li class="menu">
                            <a href="../stickynotes"><span class="side-menu-icon"><i class="far fa-file-alt"
                                        aria-hidden="true"></i>
                                </span>Notes</a>
                        </li>
                        <!-- <li class="menu">
                            <a href="#"><span class="side-menu-icon"><i class="fa fa-camera"
                                        aria-hidden="true"></i></span>
                                <button type="button" class="btn btn-default">Screen Grab</button>
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>

            <div id="content" class="main-content">
                
                <div class="layout-px-spacing">
                   <div class="container add-user mt-5">
                        <div class="row mb-4">
                            <h3>Add User Details</h3>
                        </div>
                        <div class="form-group">
                          <label for="text">Employee name</label>
                          <input type="text" class="form-control" placeholder="Employee name">
                        </div>

                        <div class="form-group">
                          <label for="text">Employee Id</label>
                          <input type="number" class="form-control" placeholder="Employee Id">
                        </div>

                        <div class="form-group">
                          <label for="text">Device Id</label>
                          <input type="number" class="form-control" placeholder="Device Id">
                        </div>

                        <div class="form-group">
                          <label for="text">Location</label>
                          <input type="text" class="form-control" placeholder="Location">
                        </div>

                        <div class="form-group">
                          <label for="text">Zone</label>
                          <input type="text" class="form-control" placeholder="Zone">
                        </div>

                        <div class="form-group team-drop-value">
                          <label for="role">Team</label>
                          <select class="form-control">
                            <option>select</option>
                            <option>Team A</option>
                            <option>Team B</option>
                            <option>Team C</option>
                            <option>Team D</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="text">Company</label>
                          <input type="text" class="form-control" placeholder="Company">
                        </div>

                        <div class="mt-5 mb-5">
                          <button type="submit" class="btn btn-outline-primary user-submit">Submit</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2020 <a target="_blank" href="#">Takvaviya</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

    

    <script src="main.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js'></script>
    <script src='https://superal.github.io/canvas2image/canvas2image.js'></script>
 <script>
        $(document).ready(function(){
$('ul li a').click(function(){
$('li a').removeClass("actives");
$(this).addClass("actives");
});
});
    </script>

</body>

</html>